<h1>Recipes</h1>
<% @recipes.each do |recipe| %>
  <div><strong><%= recipe.name %></strong></div>
  <div><% recipe.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %></div>
<% end %>
